<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>文件上传示例</h1>
    <form action="" enctype='multipart/form-data' method='POST' >
        <input type="file" name="file" style="font-size: 40px;" id="file">
        <input type="button" value="上传" style="font-size: 40px;"  id="sub" onclick="checkForm()">
        <h1>选择打印次数：</h1>
        <select id="myselect" name="myselect" style="width: 80px;font-size: 40px;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>

    </form>


</body>
</html>
<script>
    function checkForm(){
        var file = document.getElementById("file");
        var submit=document.getElementById("sub");
        var form = document.getElementsByTagName("form")[0];
            console.log(file.value);
            if(file.value==""){
                 return false;
            }
            else{
                form.submit();
            }
    }

</script>